.form {
  margin: 1rem 0;
  height: 19rem;
  overflow: auto;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: block;
}

.control input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 20rem;
  max-width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.actions button {
  font: inherit;
  color: #f8f8f8;
  cursor: pointer;
  background-color: #5a1a01;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 2rem;
}

.actions button:hover,
.actions button:active {
  background-color: #ffffff;
}

.actions .submit {
  border: 1px solid #5a1a01;
  background-color: #5a1a01;
  color: white;
}

.actions .submit:hover,
.actions .submit:active {
  background-color: #7a2706;
}

.invalid label {
  color: #ca3e51;
}

.invalid input {
  border-color: #aa0b20;
  background-color: #ffeff1;
}

.mainpage {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.items {
  margin: 0 auto;
  width: 600px;
  font-size: medium;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 5px solid #3f3f3f;
  background-color: rgb(202, 189, 189);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px;
}
.item1 {
  text-align: center;
  color: white;
  padding-bottom: 15px;
}
.item2 {
  display: flex;
  justify-content: center;
  color: white;

}
.myclass{
  padding-bottom: 15px;
}
.amount {
    font-weight: bold;
    border: 2px solid rgb(0, 0, 0);
    padding: 0.1rem 0.2rem;
    border-radius: 30px;
    color: #a70000;
  }